pkgbase = keyflip
	pkgdesc = Toggle a supported laptop internal keyboard on Linux
	pkgver = 0.2.0_beta
	pkgrel = 1
	install = keyflip.install
	url = https://github.com/miflow13/KeyFlip-
	arch = any
	license = MIT
	depends = gtk4
	depends = python
	depends = python-gobject
	depends = python-evdev
	depends = polkit
	depends = util-linux
	depends = systemd
	depends = libcanberra
	depends = glib2
	depends = gnome-shell
	conflicts = keyflip-core
	conflicts = gnome-shell-extension-keyflip
	replaces = keyflip-core
	replaces = gnome-shell-extension-keyflip
	source = keyflip-0.2.0-beta.tar.gz
	sha256sums = 7fbc8d4f9f18dfb94d95f764d31ba2d7ec0e9204dde9f693a93eeb49d518ab76

pkgname = keyflip
