pkgbase = keyflip
	pkgdesc = Toggle a supported laptop internal keyboard on Linux
	pkgver = 0.2.0_beta
	pkgrel = 1
	url = https://github.com/miflow13/KeyFlip-
	arch = any
	license = MIT
	depends = gtk4
	depends = python
	depends = python-gobject
	depends = polkit
	depends = util-linux
	depends = systemd
	depends = libcanberra
	depends = glib2
	depends = gnome-shell
	conflicts = keyflip-core
	conflicts = gnome-shell-extension-keyflip
	replaces = keyflip-core
	replaces = gnome-shell-extension-keyflip
	source = keyflip-0.2.0-beta.tar.gz
	sha256sums = 8f93b16fa658145c93c05b8a904f168df5e0f18f2fea9a781d942555eed4c800

pkgname = keyflip
